.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card img {
  max-height: 200px;
  /* width: max-content; */
}

.card {
  display: flex;
  margin: 1rem 0 0 0;
  /* flex-direction: column; */
  width: 30%;
  align-items: center;
  justify-content: center;
  border: solid 0.75px rgb(102, 102, 165);
  text-align: center;
}